* {
    /*   border: solid 1px; */
      box-sizing: border-box;
      font-family: 'Be Vietnam Pro', sans-serif;
      padding: 0%;
      margin: 0%;
      
    }

    body{
        background-color: rgb(255, 255, 255);
    }
    :root{
        --color-primario: #ffffff;
        --color-secundario: #3772ff;
    }
   
    header{
        position: fixed;
        top: 0%;
        left: 0%;
        width: 100%;
        padding: 30px 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 100;
        background-color: #000;
        
    }

    .Logo{
        font-size: 2.3rem;
        color: var(--color-primario);
        cursor: pointer;
    }

    .Logo span{
        color: var(--color-secundario);
    }

    .navegacion a{
        font-size: 1.2rem;
        color: var(--color-primario);
        text-decoration: none;
        margin-right: 40px;
        font-weight: 600;
        transition: .3s;

    }

    .navegacion a:hover{
        color: var(--color-secundario);
    }

    .btn-hablar{
        color: #fff;
        text-decoration: none;
        padding: 8px 35px;
        background-color: var(--color-secundario);
        border-radius: 10px;
        border: 2px solid var(--color-secundario);
        font-weight: 600;
        transition: .3s;
    }

    .btn-hablar:hover{
        color: var(--color-secundario);
        background: transparent;
    }

    .inicio{
        position: relative;
        width: 100%;
        height: 100vh;
      
        background-position: center;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 30px 100px;
        background-color: rgb(0, 0, 0);
      
        
    }

    img{
        width: 100%;
        text-align: right;
        padding: 0%;
        padding-left: 2rem;
        padding-bottom: 4rem;
        padding-right: 4rem;
        width: 50rem;
        mask-image:linear-gradient(black 12%, transparent)
        
        
    }

    .history2{
        color: #3772ff;
        
    }

    .contenido{
        max-width: 500px;
        color: var(--color-primario);

    }

    .name{
        text-align: left;
    }

    .contenido h2{
        font-size: 3rem;
    }

    .contenido h2 span{
        color: var(--color-secundario);
    }

    .contenido h4{
        font-size: 2em;

    }

    .contenido p{
        padding: 10px 0 40px 0;
    }

    .btn-group{
        color: #fff;
       
        text-decoration: none;
       
        
        border-radius: 17px;
        
        font-weight: 900;
        transition: .3s;

    }

    .btn-group a:hover:nth-child(1){
        background-color: transparent;
        color: var(--color-secundario);
        text-decoration: none;

    }

    .btn-group a:nth-child(2){
        color: var(--color-secundario);
        background: transparent;
        margin-left: 30px;
        padding: 10px 30px;
    }

    .btn-group a:hover:nth-child(2){
        background-color: var(--color-secundario);
        color: #ffffff ;

    }

    .btn-group {
        display: flex;
        justify-content: space-between;
        
      }
      
      .btn-group a{
        text-decoration: none;
      }
      .btn-contact {
        background-color: var(--color-secundario);
        color: #fff;
        padding: 10px 40px;
        border-radius: 10px;
        border: 2px solid var(--color-secundario);
        font-weight: 600;
        transition:.3s;
        
      }
      
      .btn-contact:hover {
        background-color: transparent;
        color: var(--color-secundario);
      }
      
      .btn-projects {
        background-color: var(--color-secundario);
        color: #fff;
        padding: 10px 40px;
        border-radius: 10px;
        border: 2px solid var(--color-secundario);
        font-weight: 800;
        transition:.3s;
      }

      /*=============== ABOUT ===============*/
      .about-img{
        mask-image:linear-gradient(black 12%, transparent)
      }
      .about {
        padding: 90px 0px;
        background: #fff;
    }
    
    .top_layer {
        position: relative;
    }
    
    .top_layer::before {
        position: absolute;
        width: 100%;
        height: 50px;
        content: "";
    
        background-position-x: 0%;
        background-position-y: 0%;
        background-repeat: repeat;
        background-size: auto;
        height: 500px;
        background-size: 100% 100%;
        background-position: center center;
        background-repeat: no-repeat;
        top: -180px;
    }
    
    .historia-mia{
        text-align: left;

    }
    .about .titlepage {
        text-align: center;
        padding-bottom: 60px;
    }
    
    .about-me{
        margin-right: 7rem;
        margin-left: 7rem;
    }
    .about .titlepage h2 {
        padding: 0px 0px 6px 0px;
        font-size: 40px;
        font-weight: bold;
        color: #050303;
        line-height: 46px;
        
        border-bottom: #3772ff solid 1px;
        width: 410px;
        margin: 0 auto;
        margin-bottom: 0px;
        margin-bottom: 20px;
    }
    
    .history{
        margin-top: 45px;
        margin-right: 5rem;
    }
    .about .titlepage span {
        color: #3d3c3c;
        font-size: 17px;
        line-height: 30px;
    }
    .about .about-box {
        max-width: 530px;
        width: 100%;
        float: right;
        padding: 18px 0;
    } 
    .about .about-box h3 {
        font-size: 36px;
        text-transform: uppercase;
        line-height: 37px;
        padding-bottom: 30px;
    }
    .about .about-box p {
        font-size: 17px;
        line-height: 28px;
    } 
    .about .about-img figure {
        margin: 0;
    }
    
    
    
    
    
   
    .about a:hover {
        border: #3147eb solid 1px;
        background: #3b34fb;
       
       
    }
    
    .btn-hablar2{
        color: #fff;
        text-decoration: none;
        padding: 8px 35px;
        background-color: var(--color-secundario);
        border-radius: 10px;
        border: 2px solid var(--color-secundario);
        font-weight: 600;
        transition: .3s;
        justify-content: center;
        margin-top: 5rem;
    }

    .container-btn{
        justify-content: center;
        text-align: center;
    }

    .btn-hablar2:hover{
        color: var(--color-secundario);
        background: transparent;
    }

    .skills-p{ margin-top: 9rem;}
    

      /*=============== ABOUT ===============*/
 

      
    
    h1{
        text-align: center;
         font-family: 'Be Vietnam Pro', sans-serif;
         font-weight: 900;
         font-size: 2.7rem;
    }
    
    
    h3{
        font-family: 'Be Vietnam Pro', sans-serif;
        padding: 0%;
    }
    
    
    
  
    
    
    
   
   
    
    figure{
        text-align: center;
        padding-top: 2rem;      
    }
    
    
    .container-card{
        
        display: flex;
        width: 80rem;
        margin: auto;
        font-family: 'Be Vietnam Pro', sans-serif;
        padding-top: 3rem;
        
    }
    
    .title-cards{
        width: 100%;
        max-width: 1080px;
        margin: auto;
        padding: 20px;
        margin-top: 20px;
        text-align: center;
        color: #000000;
    }
    .card{
        width: 100%;
        height: 20rem;
        margin: 20px;
        border-radius: 6px;
        overflow: hidden;
        background:#fff;
        box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
        transition: all 400ms ease-out;
        cursor: default;
       
    }
    
    
    .hover-container .card:hover {
        background-color: #3772ff;
        box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
        transform: translateY(-3%); /* añade animacion a la card y una sombra al igual que hover  */
      }
      
      
      
      .hover-container .card:hover figure svg {
        stroke: #fff; /* cambia el color del icono  */
      }
      
      .hover-container .card:hover .contenido-card p  {
        color: #ffffff; 
        font-weight: 500;/* cambia el color del texto dentro de la card */
      }
    
      .hover-container .card:hover .header-3{ /* Cambio el color de header-3 a blanco*/
        color: #f7f7f7;
      }
    
      .hover-container .card:hover a{ /*Cambio el color del boton una vez me pongo sobre la tarjeta */
        color: #3772ff;;
        background-color: #f7f7f7;
        border: #000000;
        
       
        
        
      }
     
    .card img{
        width: 100%;
        height: 210px;
    }
    .card .contenido-card{
        padding: 15px;
        padding-top: 0rem;
        text-align: center;
    }
    .card .contenido-card h3{
        margin-bottom: 0.5rem;
        color: #000000;
    }
    .card .contenido-card p{
        line-height: 1.8;
        color: #000000;
        font-size: 14px;
        margin-bottom: 1.5rem;
    }
    
    
    .card .contenido-card a{
        display: inline-block;
        padding: 10px;
        
        text-decoration: none;
        color: #3772ff;
        border: 1px solid #3772ff;
        border-radius: 4px;
        transition: all 400ms ease;
        margin-bottom: 0rem;
    }
    .card .contenido-card a:hover{
        background: #f7f7f7;
        color: #020202;
        font-size: 1.1rem;
    }
    
    .span{
        color: #3134bb;
        font-weight: 600;
    }
    
    
    
    @media only screen and (min-width:320px) and (max-width:768px){
        .container-card{
            flex-wrap: wrap;
        }
        .card{
            margin: 15px;
        }
    }
    
    
    /*Fin-Cards*/
    
    
    
      
     
      
     
      
      .container-card {
        display: flex;
        width: 80rem;
        margin: auto;
        font-family: 'Be Vietnam Pro', sans-serif;
        padding-top: 3rem;
      }
      
      @media screen and (max-width: 768px) {
        .container-card {
          width: 100%;
        }
      }
      
      @media screen and (max-width: 480px) {
        .container-card {
          flex-direction: column;
          padding-top: 4REM;
        }
      
        .card {
          margin: 1rem;
          width: fit-content;
        }
      }
      
      
      
     
   
     





  
  